/*   Note, we are using the theme from 'themes.css' To make a desired theme effective;
     just replace '--default__x' to say '--snipcart__x'
*/
body {
    -webkit-tap-highlight-color: transparent;
    /* Removes the blue highlight when button tapped on mobile */
}

.theme__bg__color {
    background-color: var(--default__theme__bg__color) !important;
}

.theme__color {
    color: var(--default__theme__color) !important;
}

.mt-80 {
    margin-top: 80px;
}

.noJS {
    position: fixed;
    top: 40%;
    left: 35%;
    height: 300px;
    width: 800px;
    max-height: 40%;
    max-width: 40%;
    transform: translate (-50%, -50%);
    background-color: var(--default__primary__1);
    border-radius: 20px;
    box-shadow: 0 2px 32px 0 var(--default__primary__3);
    padding: 30px;
}

.noJS a {
    color: var(--default__primary__2);
    text-decoration: none;
    border-bottom: 2px dotted var(--white);
    background-color: inherit;
}

.noJS a:hover {
    color: var(--white)
}

.noJSText {
    color: var(--white);
    text-align: center;
    font-size: 26px;
    background-color: var(--default__primary__1);
}

.noJSText i {
    display: block;
    margin-bottom: 12px;
}

.outgoing_msg .sent_msg {
    max-width: 65% !important;
}

.outgoing_msg .sent_msg form input#answer {
    max-width: 80% !important;
}

.outgoing_msg .sent_msg form input#answer {
    border: none;
    outline: none;
    font-size: 0.905rem;
    float: right;
    line-height: 1.3em;
    min-height: 1.7em;
    max-height: 10rem;
    display: block;
    margin-right: 2.5%;
    background: var(--default__input_bg);
    border-radius: 20px 0 20px 20px;
    font-size: 14px;
    margin: 0;
    color: var(--default__input__txt);
    padding: 10px 15px 8px;
}

input,
textarea,
[contenteditable] {
    width: auto;
    -webkit-text-fill-color: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    caret-color: var(--default__received__msg__txt);
    color: var(--white);
    display: block;
    margin-bottom: .5em;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.75, 0.75);
    }

    100% {
        transform: scale(1.0, 1.0);
    }
}

@media screen and (max-width: 960px) {
    .container {
        font-family: Muli, "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 0 30px;
    }

    .displayOff {
        display: none;
    }

    .displayNone {
        display: none !important;
    }

    .noJS {
        position: fixed;
        top: 40%;
        left: 35%;
        height: 180px;
        width: 450px;
        max-height: 40%;
        max-width: 40%;
        transform: translate (-50%, -50%);
        background-color: var(--default__primary__1) !important;
        border-radius: 20px;
        box-shadow: 0 1px 16px 0 var(--default__primary__3);
        padding: 10px;
    }

    .noJS a {
        text-decoration: none;
        border-bottom: 1px dotted var(--white);
        background-color: inherit;
    }

    .noJS a:hover {
        color: var(--white)
    }

    .noJSText {
        color: var(--white);
        text-align: center;
        font-size: 16px;
        background-color: var(--default__primary__1);
    }

    .noJSText i {
        display: block;
        margin-bottom: 10px;
    }

}

.displayOff {
    display: none !important;
}

.displayNone {
    display: none;
    transition: 0.6s !important;
}

.displayNoneChat {
    display: none;
    transition: 1s !important;
}

/*---------chat window with container---------------*/

.chatbox {
    position: fixed;
    bottom: 0;
    right: 4px;
    width: 310px;
    /* Entire width of chat window */
    height: 400px;
    /* Entire width of chat window */
    background-color: inherit;
    -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 999;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.chatbox--tray {
    bottom: -350px;
}

.chatbox--closed {
    bottom: -400px;
}

div.received_withd_msg p,
div.sent_msg p {
    animation: bounceIn 0.2s ease;
    transform-origin: 0 0 0;
}

.chatbox__title,
.chatbox__body {
    border-bottom: none;
}

.message:before {
    content: '';
    background: linear-gradient(var(--white), transparent);
    position: absolute;
    width: 100%;
    display: block;
    height: 30px;
    top: 0;
    left: 0;
    z-index: 2;
}

.chatbox__title {
    background: -webkit-linear-gradient(90deg, var(--default__primary__1) 0%, var(--default__primary__2) 100%);
    background: -moz-linear-gradient(90deg, var(--default__primary__1) 0%, var(--default__primary__2) 100%);
    background: -o-linear-gradient(90deg, var(--default__primary__1) 0%, var(--default__primary__2) 100%);
    background: -ms-linear-gradient(90deg, var(--default__primary__1) 0%, var(--default__primary__2) 100%);
    background: linear-gradient(90deg, var(--default__primary__1) 0%, var(--default__primary__2) 100%);
}


.chatbox__title {
    box-shadow: 0 1px 16px 0 var(--default__primary__3);
}

.chatbox__title {
    min-height: 50px;
    padding-right: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    font-family: Catamaran;
}

.chatbox__title h5 {
    height: 50px;
    margin: 0 0 0 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    position: relative;
    padding-left: 20px;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.chatbox__title h5 a {
    color: var(--white);
    max-width: 195px;
    display: inline;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatbox__title h5:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 12px;
    height: 12px;
    border: none;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.chatbox__title__tray,
.chatbox__title__close {
    width: 24px;
    height: 24px;
    outline: 0;
    border: none;
    background-color: transparent;
    opacity: 0.5;
    cursor: pointer;
    -webkit-transition: opacity 200ms;
    transition: opacity 200ms;
}

.chatbox__title__tray span:hover,
.chatbox__title__close:hover {
    opacity: 1;
}

.chatbox__title__tray span {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-bottom: 2px solid var(--white);
}

.chatbox__title__close svg {
    vertical-align: middle;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.2px;
}

.chatbox__body,
.chatbox__credentials {
    padding: 15px;
    border-top: 0;
    background-color: var(--white);
    border-left: 1px solid var(--border__color);
    border-right: 1px solid var(--border__color);
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.chatbox__credentials {
    display: none;
}

.chatbox__credentials .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* ****** Uncomment to remove scrollbar space ******
****** optional: just make scrollbar invisible ******

div.chatbox__body::-webkit-scrollbar,
div.chatbox__body.messaging::-webkit-scrollbar,
.messaging::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}
*/
.chatbox__body {
    font-weight: 400;
    text-align: left;
    display: inline-block;
    outline: none;
    clear: both;
    max-width: 100%;
    line-height: 20px;
    overflow-y: scroll;
}

.chatbox__body__message {
    position: relative;
}

.chatbox--empty {
    height: 262px;
}

.chatbox--empty.chatbox--tray {
    bottom: -212px;
}

.chatbox--empty.chatbox--closed {
    bottom: -262px;
}

.chatbox--empty .chatbox__body,
.chatbox--empty .chatbox__message {
    display: none;
}

.chatbox--empty .chatbox__credentials {
    display: block;
}

/*---------chat window with message---------------*/
/* Styling for overlay chat page */

.chatMain {
    height: 550px;
    /* Controls the height of the overlay chat page */
    width: 600px;
    /* Controls the width of the overlay chat page */
    overflow-y: scroll;
}

/* Styling for overlay chat page */
img.chat_img {
    height: 100% !important;
    width: 100% !important;
    margin-bottom: 12px;
}

.inbox_msg {
    border: 1px solid var(--default__border__color);
    clear: both;
    overflow: hidden;
    width: 100%;
}

.msg {
    font-family: Muli, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    display: inline-block;
}

.incoming_msg {
    margin: 0;
    overflow: hidden;
    float: left;
    clear: both;
    max-width: 80% !important;
}

.incoming_msg_img {
    float: left;
    width: 15%;
    padding-left: 20px;
}

.incoming_msg_img img {
    width: 100%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    word-wrap: break-word;
}

.received_withd_msg {
    margin: 7px auto;
}

.received_withd_msg p {
    background-color: var(--default__received__msg__bg);
    border-radius: 0 20px 20px 20px;
    color: var(--default__received__msg__txt);
    font-size: 14px;
    margin: 0;
    padding: 10px 15px 8px;
}

.sent_msg p {
    background-color: var(--default__sent__msg__bg);
    border-radius: 20px 0 20px 20px;
    font-size: 14px;
    margin: 0;
    color: var(--default__sent__msg__txt);
    padding: 10px 15px 8px;
}

.outgoing_msg {
    margin: 0 auto;
}

.sent_msg {
    margin: 7px auto 0 auto;
    float: right;
    clear: both;
    word-wrap: break-word;
}

.messaging {
    padding: 0 0 30px 0;
}